name: Build LaTeX document

on:
  push:
    paths:
      - "**.tex"
      - "**.bib"
      - "**.sty"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

        # Cache TeX Live packages
      - name: Cache TeX Live
        uses: actions/cache@v3
        with:
          path: |
            /usr/local/texlive
          key: ${{ runner.os }}-texlive-2025
          restore-keys: |
            ${{ runner.os }}-texlive-     


      - name: Install minimal TeX Live + required packages
        run: |
         sudo apt-get update
         sudo apt-get install -y \
          texlive-latex-base \
          texlive-latex-recommended \
          texlive-latex-extra \
          texlive-fonts-recommended \
          texlive-science \
          biber \
          latexmk    

      - name: Compile LaTeX
        run: |
          latexmk -pdf main.tex

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: pdf
          path: test.pdf

      - name: Extract version
        id: get_version
        run: |
          VERSION=$(grep -oP '\\def\\version\{\K[^\}]+(?=\})' main.tex || true)
          if [ -z "$VERSION" ]; then
            VERSION=$(grep -oP '(?<=Version:\s*)[0-9]+\.[0-9]+(\.[0-9]+)?' main.tex || true)
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Commit PDF to repo
        run: |
          VERSION="${{ steps.get_version.outputs.version }}"
          git config user.name "francescoabrami"
          git config user.email "francesco.abrami03@gmail.com.com"
          git add test.pdf
          git commit -m "AUTO: updated PDF (version: $VERSION)" || echo "No changes to commit"
          git push