name: Build LaTeX document

permissions:
  contents: write

on: [push]
jobs:

  build_latex:

    runs-on: ubuntu-latest
    steps:
    
      # 1. Checkout repository
      - name: Set up Git repository
        uses: actions/checkout@v6

      # 2. Run LaTeX using Docker
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: main.pdf

      # 3. Rename output PDF
      - name: Rename PDF
        run: |
          if [ -f "main.pdf" ]; then
            mv main.pdf test.pdf
          else
            echo "main.pdf not found!"
            exit 1
          fi

      # 4. Extract version from \def\version{1.2.3}
      - name: Extract version 
        id: get_version
        run: |
          VERSION=$(grep -oP '\\def\\version\{\K[^\}]+' main.tex || true)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      # 5. Commit and push
      - name: Commit PDF to repo
        env:
          VERSION: ${{ steps.get_version.outputs.version }}
        run: |
          git config user.name "francescoabrami"
          git config user.email "francesco.abrami03@gmail.com"

          git add test.pdf

          git commit -m "AUTO: updated PDF (version: $VERSION)" || exit 0
          git push   


      # 2. Run LaTeX using prebuilt Docker (fast + no installation)
      # - name: Compile PDF using Docker
      #   run: |
      #     docker run --rm \
      #       -v ${{ github.workspace }}:/workdir \
      #       texlive/texlive:latest \
      #       sh -c "cd /workdir && latexmk -pdf -interaction=nonstopmode -f main.tex"


      
