name: Build LaTeX document

permissions:
  contents: write

on: [push]
jobs:

  build_latex:

    runs-on: ubuntu-latest
    steps:

      # 1. Checkout repository
      - name: Set up Git repository
        uses: actions/checkout@v6

      # a. Import GPG Key
      - name: Import GPG key
        run: echo $GPG_KEY | base64 --decode | gpg --batch --import
        env:
          GPG_KEY: ${{ secrets.GPG_KEY }}

      # b. Add the custom GPG
      - name: Add the custom gpg siging program that passes the passphrase to the gpg CLI
        run: |
          rm -rf /tmp/gpg.sh
          echo '#!/bin/bash' >> /tmp/gpg.sh
          echo 'gpg --batch --pinentry-mode=loopback --passphrase $GPG_KEY_PASSPHRASE $@' >> /tmp/gpg.sh
          chmod +x /tmp/gpg.sh

      # c. Setup git
      - name: Setup git
        run: |
          git config commit.gpgsign true
          git config user.signingkey $GPG_KEY_ID
          git config gpg.program /tmp/gpg.sh
        env:
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }

      # 2. Run LaTeX using Docker
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: PDF
          path: main.pdf

      # 3. Rename output PDF
      - name: Rename PDF
        run: |
          if [ -f "main.pdf" ]; then
            mv main.pdf test.pdf
          else
            echo "main.pdf not found!"
            exit 1
          fi

      # 4. Extract version from \def\version{1.2.3}
      - name: Extract version 
        id: get_version
        run: |
          VERSION=$(grep -oP '\\def\\version\{\K[^\}]+' main.tex || true)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      # 5. Commit and push

      - name: Commit PDF to repo
        env:
          VERSION: ${{ steps.get_version.outputs.version }}
          GPG_KEY_PASSPHRASE: ${{ secrets.GPG_KEY_PASSPHRASE }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_COMMITTER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_COMMITTER_EMAIL }}
          GIT_AUTHOR_NAME: francescoabrami
          GIT_AUTHOR_EMAIL: francesco.abrami03@gmail.com

        run: |
          git config user.name "francescoabrami"
          git config user.email "francesco.abrami03@gmail.com"

          git add test.pdf

          git commit -m "AUTO: updated PDF (version: $VERSION)" || exit 0
          git verify-commit $( git rev-parse HEAD )
          git push   
        

      # 2. Run LaTeX using prebuilt Docker (fast + no installation)
      # - name: Compile PDF using Docker
      #   run: |
      #     docker run --rm \
      #       -v ${{ github.workspace }}:/workdir \
      #       texlive/texlive:latest \
      #       sh -c "cd /workdir && latexmk -pdf -interaction=nonstopmode -f main.tex"


      
